version: '3'

services:
  node:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
    - ./:/usr/src/app
    ports:
    - "4000:4000"
    command: sh -c "npm install && npm run watch"
    tty: true

