@import "initializer";

.confirm-btn {
  display: block;
  width: 100px;
  height: 25px;
  font-size: 14px;
  font-family: inherit;
  font-weight: lighter;
  line-height: 25px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  padding: 0 10px;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}

.submit-btn {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 1px 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  color: $bg-common-color;

  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 4px;

  cursor: pointer;
}

.signout-btn {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 1px 20px;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 20px;
  color: #fff;

  font-size: 14px;
  line-height: 1.5;
  font-family: sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 4px;

  cursor: pointer;
}

.form-btn {
  display: block;
  width: 100px;
  height: 25px;
  margin: 5px 0 0 60px;
  background-color: $bg-common-color;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
}
