/* 恒星系の配置　*/
$position-move-distance-top: 50px;
$position-move-distance-left: 100px;

$fixed-star-position-top: 300px + $position-move-distance-top;
$primo-orbit-position-top: 210px + $position-move-distance-top;
$secundus-orbit-position-top: 100px + $position-move-distance-top;
$tertius-orbit-position-top: 0px + $position-move-distance-top;

$fixed-star-position-left: 300px + $position-move-distance-left;
$primo-orbit-position-left: 210px + $position-move-distance-left;
$secundus-orbit-position-left: 100px + $position-move-distance-left;
$tertius-orbit-position-left: 0px + $position-move-distance-left;

/*　恒星の大きさ　：　基準値　*/
$fixed-star-scale: 150px;

/* 各軌道の恒星比 */
$primo-orbit-ratio: 2.2;      //330px
$secundus-orbit-ratio: 3.67;  //550px
$tertius-orbit-ratio: 5;      //750px

/* 惑星の恒星比 */
$large-planet-ratio: 0.75;
$medium-planet-ratio: 0.65;
$small-planet-ratio: 0.55;
$warning-planet-ratio: 0.8;

/* 各軌道の大きさ */
$primo-orbit: $fixed-star-scale * $primo-orbit-ratio;
$secundus-orbit: $fixed-star-scale * $secundus-orbit-ratio;
$tertius-orbit: $fixed-star-scale * $tertius-orbit-ratio;

/* 各軌道における周回速度 */
$primo-orbit-speed: 40s;
$secundus-orbit-speed: 60s;
$tertius-orbit-speed: 80s;
$satelite-orbit-speed: 60s;

/* 各軌道における各惑星（大・中・小）の大きさ */
$primo-orbit-large-planet: $large-planet-ratio / $primo-orbit-ratio;
$primo-orbit-medium-planet: $medium-planet-ratio / $primo-orbit-ratio;
$primo-orbit-small-planet: $small-planet-ratio / $primo-orbit-ratio;
$secundus-orbit-large-planet: $large-planet-ratio / $secundus-orbit-ratio;
$secundus-orbit-medium-planet: $medium-planet-ratio / $secundus-orbit-ratio;
$secundus-orbit-small-planet: $small-planet-ratio / $secundus-orbit-ratio;
$tertius-orbit-large-planet: $large-planet-ratio / $tertius-orbit-ratio;
$tertius-orbit-medium-planet: $medium-planet-ratio / $tertius-orbit-ratio;
$tertius-orbit-small-planet: $small-planet-ratio / $tertius-orbit-ratio;
$warning-orbit-planet-size: $warning-planet-ratio / $primo-orbit-ratio;

/* 衛星の恒星比 */
$satelite-star-ratio: 0.07;

/* 衛星軌道の大きさ */
$satelite-orbit-scale: 1.5;

/* 衛星の大きさ */
$satelite-scale: 0.5;
