// scssコンパイルの参考記事→https://beautifulajax.dip.jp/?p=1669

@import "initializer";
@import "button";

/*
 *  mixin
 */
 @mixin placeholder($color) {
  &::placeholder {
    font-size: 13px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }

  //mozila
  ::-moz-placeholder {
    font-size: 14px;
    font-family: orator-std, monospace;
    font-weight: lighter;
    letter-spacing: 4px;
    color: $color;
  }
}

/*
 *  n is number of stars required
 */
@function multiple-box-shadow($n){
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(10);

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0D1935 url("../../dist/images/universe.png") no-repeat center center;
  background-size: cover;
}
.container {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  position: relative
}

#stars {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0px;
  left: 0px;
  background: transparent;
  z-index: -2000;

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 8s ease-in-out;

    &:after {
      content: " ";
      position: absolute;
      top: 100px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
}

input {
  @include placeholder(#fff);
  display: block;
  width: 100px;
  text-align: left;
  border: none;
  border-bottom: solid 1px #ddd;
  color: #fff;
  background-color: $bg-common-color;
  padding: 0 5px;
}

@keyframes animStar {
  0% {
    transform: translate(0px, 0px);
  }
    100% {
      transform: translate(1000px, 200px);
  }
}
