.destroy-action {
  width: 150px;
  position: absolute;
  top: 100px;
  right: 150px;
  z-index: 500;

  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;

  img {
    width: 150px;
  }
}

.blackhole-img {
  width: 200px;
  position: absolute;
  top: 100px;
  right: 200px;
  z-index: 500;
  animation: spinIn 2s ease-in-out 0s 1 normal;
  -webkit-animation: spinIn 2s ease-in-out 0s 1 normal;

  img {
    width: 200px;
    height: 200px;
  }
}

@keyframes spinIn {
	0% {transform: rotate(0deg) scale(0,0); opacity: 0;}
	100% {transform: rotate(1080deg) scale(1,1); opacity: 1}
}

@-webkit-keyframes spinIn {
	0% {-webkit-transform: rotate(0deg) scale(0,0); opacity: 0;}
	100% {-webkit-transform: rotate(1080deg) scale(1,1); opacity: 1;}
}
