$available-planet-size: 40px;
$holder-height: 100px;

#footer {
  

  #planet-holder {
    display: flex;
    width: 410px;
    height: $holder-height;
    margin: 0 10px;
    padding: 0 10px;
    vertical-align: middle;

    .open-planet {
      width: $holder-height;
      height: $holder-height;
      text-align: center;
      margin: 0 5px 0 0;
      transform: rotate(0deg);
      transition: 1s linear;
    }
    .click-rotate {
      transform: rotate(45deg);
    }
    .planet-holder-img {
      width: $holder-height;
      height: $holder-height;
      cursor: pointer;
    }
    .open-planet-holder {
      display: none;
    }
    .holder-show {
      display: block;
    }

    ul#planet-list {
      display: flex;
      align-items: center;
      overflow: scroll;
      margin: 0;
      padding: 0;
      width: 0;
      transition: 1000ms linear;

      li.planet {
        list-style: none;
        color: #fff;
        width: $available-planet-size;
        height: $available-planet-size;
        margin-right: 10px;
        border-radius: 50%;

        .planet-img {
          width: $available-planet-size;
          height: $available-planet-size;
          border-radius: 50%;
          cursor: pointer;
          
          img {
            width: $available-planet-size;
            height: $available-planet-size;
          }
        }
      }
      .current-clicked {
        box-shadow: 0 0 10px #fff;
      }
    }
    .is-show {
      width: 300px;
    }
  }

  ul#action-button-list {
    height: $holder-height;
    margin: 0 10px;
    padding: 0;
    display: flex;

    li.action-btn {
      list-style: none;
      width: $holder-height;
      height: $holder-height;
      margin-right: 10px;
      cursor: pointer;
      display: none;

      .action-icon {
        width: $holder-height;
        height: $holder-height;
      }
    }
    li.delete-buttons-show {
      display: flex;
    }
    li.revival-button-show {
      display: flex;
    }
    li.restrict-button-style {
      position: relative;
      opacity: 0.5;
      z-index: -2000;
      cursor: none;
    }
    li.restrict-button-style:before,
    li.restrict-button-style:after {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      display: block;
      width: 100px;
      border-top: 1px solid #C00;
    }
    li.restrict-button-style::before {
      transform: skewY(-45deg);
    }
     
    li.restrict-button-style::after {
      transform: skewY(45deg);
    }
  }

  .holder-border {
    border: solid 1px #000;
    border-radius: 20px;
  }
  .holder-borderï¼šbefore {
    animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  }
  @keyframes img-wrap {
    100% {
      transform: translateX(100%);
    }
  }
}
