@import "initializer";

$form-line-width: 75%;

//form-modal
#form-on-modal {
  display: 'block';

  width: 100%;
  margin: 10px auto;
  padding: 7px 10px;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 500;

  .form-title {
    width: $form-line-width;
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
  }

  form {
    margin: 5px auto;

    .form-line-1 {
      display: flex;
      justify-content: flex-start;
      width: $form-line-width;
      height: 40px;
      margin: 10px auto;
    }
    .form-line-2 {
      display: flex;
      justify-content: flex-start;
      width: $form-line-width;
      height: 60px;
      margin: 10px auto;
    }
    .form-line-3 {
      display: flex;
      justify-content: flex-start;
      width: $form-line-width;
      height: 40px;
      margin: 10px auto;
    }
  }
}
