@import "initializer";

.signin-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 740px;
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 740px;
}

.update-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  margin: 10px auto;
}
