.modal-warning {
  width: 400px;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
  font-family: inherit;
  font-weight: lighter;
  letter-spacing: 2px;
}
.modal-confirm-buttons {
  width: 400px;
  display:flex;
  justify-content: center;
}
