@import "orbit_size_initializer";
@import "mypage_popup";

$mypage-orbit: 550px;

#mypage-container {

  .user-info {
    

    .user-img-container {
      .user-img {
      }
    }
    .user-name {
      
    }
  }

  #mypage-orbit {

    #mypage-circle {
      
    }
    .common-circle {
    }
    .circle-shadow {
      
    }

    .mypage-common {
    }
    
    .mypage-planet {
    }

    .planet-img-container {
      
    }

    

    .mypage-orbit-motion {
      
    }
    .pause-animation {
      animation-play-state: paused;
    }
    .start-animation {
      animation-play-state: running;
    }

  }
}
