@import "orbit_size_initializer";
@import "assignment_popup";

#project-container {
  #project-orbit {

    #fixed-star {
      

      
    }
    .circle-shadow {
    }

    .common {
      
    }
    .planet-large-primo {
      
    }
    .planet-small-tertius {
    }
    .planet-warning-size {
      
    }
    .warning-animation {
      
    }

    .planet-img-container {
      
      .mark-container {
        
    
        .check-mark {
          
        }
      }
    }

    .pause-animation {
      animation-play-state: paused;
    }

    .content {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: rotate 60s linear reverse infinite;
      word-wrap: break-word;
    }
    .satelite-orbit {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border: 1px #fff;
      border-style: solid;
      border-radius: 50%;
      z-index: 100;
    }
    .satelite {
      width: percentage($satelite-scale);
      height: percentage($satelite-scale);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      animation: rotate $satelite-orbit-speed linear reverse infinite;
      word-wrap: break-word;
      z-index: 200;
    }

    @keyframes rotate {
      
    }
    @keyframes shiver {
      
    }
  }
}
