$available-planet-size: 40px;

#project-bar {
  position: fixed;
  top: 25%;
  right: 40px;
  z-index: 500;

  ul.projects-list {
    width: 60px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: 0;
    padding: 0 5px;

    li.revolving-project {
      list-style: none;
      width: $available-planet-size;
      height: $available-planet-size;
      margin: 5px auto;
      cursor: pointer;
    }

    img {
      width: $available-planet-size;
      height: $available-planet-size;
    }
  }
}
