.top-page-container {
  height: 100%;
  margin: 0 auto;
  position: relative;

  .logo-container {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 505px;

    .top-page-logo {
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
    }
  }

  .sign-form {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 365px;
  }

  .planet-img-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

    .top-page-planet {
      margin: auto;
      max-width: 900px;
      width: 90%;
    }
  }
}
