#tutorial-modal {
  margin: 10px auto;
  ul.tutorial-list {
    .label {
      display: inline-block;
      font-family: orator-std, monospace;
      font-size: 18px;
      font-weight: 300;
      text-align: left;
      border-bottom: 1px solid #ddd;
      margin-bottom: 5px;
    }
    li {
      font-family: orator-std, monospace;
      font-size: 16px;
      font-weight: 300;
      list-style-type: circle;
    }
  }
}